
<header>
<h1>Welcome to Eat-Da-Burger</h1>
</header>  

<section>

<article>
  <h2>Burgers to eat!</h2>
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block_a devoured=true}}
      {{/unless}}
    {{/each}}
  </ul>
</article>

<article>
  <h2>Burgers already eaten!</h2>
  <ul>
    {{#each burgers}}
      {{#if devoured}}
        {{> burgers/burger-block_b devoured=false}}
      {{/if}}
    {{/each}}
  </ul>
</article>

</section>

<footer>

  <h2>Add a Burger</h2>

  <form class="create-form">
    <div class="form-group">
      <label for="burger">Burger Name:</label>
      <input type="text" id="burger" name="name">
    </div>
    <button type="submit">Add Burger</button>
  </form>

</footer>
